html {
    background-image: url(homeb.jpg);
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto;
    grid-template-areas: "nav header aside"
                         "nav main aside"
                         "nav main aside"
                         "footer footer footer"
}


header {
    height: 290px;
    grid-area: header;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
    margin-left: 35px;
    margin-right: 30px;
}

header h1 {
    text-align: center;
    color:black;
    font-size: 18pt;
}

header img {
    padding: 40px;
}

.homescreen {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto;
    grid-template-areas: "news unilogo changelog";
}

.news {
    grid-area: news;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(230, 230, 235, 0.8);
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.unilogo {
    grid-area: unilogo;
}

.changelog {
    grid-area: changelog;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(230, 230, 235, 0.8);
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.homescreen p {
     font-size: 14pt;
}

.homescreen h1 {
    font-size: 21pt;
}

main {
    grid-area: main;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
    margin-left: 35px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: black;
    text-align: center;
}

main p {
    text-align: center;
    color:black;
    font-size: 18pt;
}

nav {
    grid-area: nav;
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
}

nav a {
    font-style: normal;
    color: black;
    display: block;
    font-size: 14pt;
    padding:11px;
    text-align: center;
}

.shownav {
    display: none;
}

aside {
    font-size: 12pt;
    grid-area: aside;
    color: black;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
}

aside img {
    display: block;
    margin-left: 25%;
    padding: 10px;
}

.clock {
    position: relative;
    color: black    ;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

footer {
    grid-area: footer;
    color: black;
    text-align: center;
    margin-top: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
    font-size: 12pt;
}

footer a {
    display: inline;
    color: black;
    margin-bottom: 20px;
}