html {
    background-image: url(homeb.jpg);
    font-family: 'Times New Roman', Times, serif;
}

body {
    color:#C8B492;
    display: grid;
    grid-template-columns: 10% 85% 5%;
    grid-template-rows: auto;
    grid-template-areas: "nav header aside"
                         "nav main aside"
                         "nav main aside"
                         "footer footer footer"
}


header {
    grid-area:header;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #E3D3B1;
    margin-left: 35px;
    margin-right: 30px;
    opacity: 90%;
}

header h1 {
    text-align: center;
    color:black;
}

main {
    grid-area: main;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #E3D3B1;
    margin-left: 35px;
    margin-right: 30px;
    margin-top: 20px;
    opacity: 90%;
}

main h1 {
    color: black;
    text-align: center;
}

main p {
    text-align: center;
    color:black;
    font-size: 25pt;
}

nav {
    grid-area: nav;
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #E3D3B1;
    opacity: 90%;
}

nav a {
    font-style: normal;
    color: black;
    display: block;
    font-size: 22pt;
    padding: 11px;
}

aside {
    font-size: 10pt;
    grid-area: aside;
    color: black;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #E3D3B1;
    opacity: 90%;
}

aside p {
    color: black;
}

footer {
    grid-area: footer;
    color: black;
    text-align: center;
    margin-top: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #E3D3B1;
    opacity: 90%;
}

footer p {
    color: black;
}