html {
    background-image: url(homeb.jpg);
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
    grid-template-areas: "nav header main aside"
                         "nav header main aside"
                         "nav header main aside"
                         "footer footer footer footer"
}

header {
    grid-area: header;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
    margin-left: 35px;
    margin-right: 30px;
    text-align: center;
    color: black;
    font-size: 16pt;
}

main {
    grid-area: main;
    color: black;
    font-size: 16pt;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
    margin-left: 35px;
    margin-right: 30px;
}

.dleft {
    margin-left: 2em;
    margin-right: 2em;
}

.dright {
    margin-left: 2em;
    margin-right: 2em;
}

.validation img {
    display: block;
    margin-left: 8em;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


nav {
    grid-area: nav;
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
}

nav a {
    font-style: normal;
    color: black;
    display: block;
    font-size: 14pt;
    padding:11px;
    text-align: center;
}

.shownav {
    display: none;
}

aside {
    font-size: 12pt;
    grid-area: aside;
    color: black;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
}

aside img {
    display: block;
    margin-left: 25%;
    padding: 10px;
}

footer {
    grid-area: footer;
    color: black;
    text-align: center;
    margin-top: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.8);
    font-size: 12pt;
}

footer a {
    display: inline;
    color: black;
    margin-bottom: 20px;
}